<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch.junit">
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="true"/>
<stringAttribute key="launchTarget" value="system-test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="system-test"/>
</launchConfiguration>
